@keyframes ADshow {
  0%{
    opacity: 0;
    background-color: white;
    color: #FC5230;
  }

  100% {
    opacity: 1;
    background-color: #FC5230;
    color: white;
  }
}

.menuBar {
  width: 100vw;
  height: 5vh;
  background-color: black;
  animation: ADshow 1s linear forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover{
    text-decoration: underline;
  }
}