@keyframes bgShow {
  0% {
    opacity: 1;
  }

  100% {
    opacity: .4;
  }
}

@keyframes formShow {
  0% {
    bottom: -50px;
  }

  100% {
    bottom: 0;
  }
}

.sign {
  width: 100vw;
  height: 70vh;
  position: relative;

  .signBg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/cover.png);
    animation: bgShow 1s linear forwards;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
  }

  .signForm {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 25px;
    animation: formShow .5s linear forwards;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .logo{
      background-image: url(../images/_logo.png);
      width: 40%;
      height: 15%;
      background-size: cover;
    }

    .signBox{
      width: 80%;
      height: 50%;
      display: flex;
      flex-direction: column;

      .inputBox{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        opacity: .5;
        border: 1px solid gray;

        
        &:not(:first-child){
          border-top: none;
        }

        input{
          width: 90%;
          height: 50%;
          border: none;
          outline: none;
          padding-left: 10px;
        }
      }
    }
    .optionBox{
      width: 200px;
      height: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: gray;
      font-weight: 100;

    }
    .btnBox{
      width: 80%;
      height: 10%;

      input{
        width: 100%;
        height: 100%;
        background-color: #FC5230;
        color: white;
        border-radius: 5px;
        font-size: 18px;
        border: none;
      }
    }
    }
    @media (max-width:767px) {
      .signForm{
        width: 275px;
        height: 275px;

        .optionBox{
          font-size: 12px;
        }
      }
    }
  
    @media (min-width:768px) and (max-width:1023px) {
      .signForm{
        width: 300px;
        height: 300px;

        .optionBox{
          font-size: 12px;
        }
      }
    }
    @media (min-width:1024px) {
  
    }
  }