.slideContainer{
  width: 100vw;
  height: 60vh;
  position: relative;
  overflow: hidden;
  
  .slideViewer{
    width: 100vw;
    position: relative;
    
    
    .slideBox{
      position: absolute;
      display: flex;
      width: 400vw;
      height: 100vh;
      left: 0;
      transition: 1s;

      .slideEl{
        width: 100vw;
        &:nth-child(1){
          background-color: navy;
        }
        &:nth-child(2){
          background-color: hotpink;
        }
        &:nth-child(3){
          background-color: orange;
        }
        &:nth-child(4){
          background-color: green;
        }
      }
    }
  }
  .btnBox{
    position: absolute;
    bottom: 20px;
    left: 50px;
    width: 120px;
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    align-items: center;
    margin: auto;

    span{
      font-size: 40px;
      cursor: pointer;
      
      &.slideInfo{
        font-size: 16px;
      }
      
      &:hover{
        color: white;
      }
    }
  }
  @media (max-width:767px) {
    .btnBox{
      left: 0;
      right: 0;
    }
  }

  @media (min-width:768px) and (max-width:1023px) {

  }
  @media (min-width:1024px) {

  }

}
